.mode-switcher {
  height: 100%;
  width: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  &__mode-label {
    font-size: 1.8rem;
    font-weight: 400;
  }

  &__mode-icon {
    height: 35%;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
