.header {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;

  &--light-mode {
    @extend .header;
    color: var(--secondary-font-color-for-light-mode);
    box-shadow: var(--box-shadow-for-light-mode);
  }

  &--dark-mode {
    @extend .header;
    color: var(--main-font-color-for-dark-mode);
    background-color: var(--secondary-background-color-for-dark-mode);
  }

  &__platform-name {
    font-size: 2.5rem;
  }
}
