@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  font-size: 10px;
  --main-font-color-for-light-mode: black;
  --main-font-color-for-dark-mode: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Mono", Poppins, sans-serif;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}
